body{
    background-color: lightgray;
}
.prof_form {
    padding: 50px;
}
input[type = text] {
    width: 100%;
    padding: 10px;
    margin: 20px 20px 20px 20px;
}

label {
    margin: 0 0 0 20px;
}

select {
    width: 100%;
    padding: 10px;
    margin: 20px 20px 20px 20px;
}
.save_button {
    color:white;
    background-color: #ff0000;
    width:15%;
    padding:15px;
    margin: 20px
}